/*
Modelo de Caixa
*/

.superior{
    width: 100%;
    height: 100px;
    background-color: blue;
    border: 1px solid white;
    color: white;
    text-align: center;
    line-height: 50px;
    font-family: "Arial Black", Gadget, sans-serif;
}

.superior_img img {
    max-width: 119px;
    height: auto;
    width: 100%;
    position: absolute;
    top: 5px;
    left: 10px;
}

.nav{
    width: 100%;
    height: 50px;
    background-color: blue;
    border: 0.5px solid white;
    text-align: center;
    line-height: 50px;
    display: inline-block;
    margin-right: 10px;
    color: #fff;
}

.nav a{
    color: #fff;
    margin-right: 20px;
}

.conteudo{
    width: 100%;
    height: 500px;
    border: 1px solid white;
    text-align: center;
    line-height: 50px;
    font-family: "Arial Black", Gadget, sans-serif;
    color: white;
}

.noticia_img img {
    max-width: 100%;
    height: auto;
    width: 20%;
    position: absolute;
    top: 220px;
    left: 50px;
}

body{
    background-image: url("images/fundo.avif");
    background-size: cover;
}